server:
  port: 8080

spring:
  application:
    name: Mossy
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  jackson:
    serialization:
      fail-on-empty-beans: false
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis

##swagger
springdoc:
  swagger-ui:
    path: /mossy-docs
  api-docs:
    path: /v3/api-docs

logging:
  level:
    com.back: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE

jwt:
  secret: mossy-secret-key-change-later-32bytes-minimum!!
  access-token-expire-ms: 180000
  refresh-token-expire-ms: 1209600000


encryption:
  secret-key: mossy-encrypt-key-must-be-32byte
  
market:
  policy:
    cart:
      max_quantity: 100

toss:
  payments:
    base-url: https://api.tosspayments.com
    secret-key: ${TOSS_SECRET_KEY:test_sk_*******************}



